.wishlist-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.back-button {
  display: inline-block;
  margin: 20px;
  background-color: #2563eb;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.back-button:hover {
  background-color: #1d4ed8;
}

.wishlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.wishlist-item img {
  width: 80px;
  height: auto;
  margin-right: 1rem;
}

.wishlist-details {
  flex: 1;
}

.delete-button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: red;
}

.back-button-container {
  margin: 20px;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-link:hover {
  text-decoration: underline;
}

